.profile {
  max-width: 600px;
  margin: 10px auto;
}

.profile-frame {
  display: flex;
  justify-content: space-evenly;
}

.profile-pic {
  height: fit-content;
}
.profile-pic > img {
  width: 160px;
  height: 160px;
  object-fit: contain;
  border-radius: 100px;
}

.profile-data {
  text-align: left;
}
.profile-info p {
  padding: 0px 5px;
}

.card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}


.card1 {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

